h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Italianno", cursive;
  font-style: normal;
  margin: 0;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 4em;
}

.section-title {
  color: #000000;
  font-weight: 500;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 3em;
  }

  .hero-content {
    padding: 20px;
  }
}

@media (max-width: 600px) {
  h2 {
    font-size: 4em;
  }
}
