.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  box-shadow: none;
  font-family: "Italianno", cursive;
  font-style: normal;
}

.navbar.scrolled {
  background-color: #0e9fa4f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo .logo-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 3em;
  color: #fff;
  font-weight: bold;
  margin-left: 5em;
}

.navbar-logo .logo-link img {
  height: 60px;
  width: auto;
  vertical-align: middle;
  margin-right: 0.5em;
}

.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 4em;
  margin-right: 10em;
}

.navbar-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  transition: color 1.3s ease;
  position: relative;
}

.navbar-links li a:hover {
  color: #ffffffae;
  cursor: pointer;
}

.navbar-links li a.active {
  font-weight: bold;
}

.navbar-links li a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.navbar-button-wrapper {
  font-size: 0.9em;
  transition: margin-right 2.5s ease-out, font-size 0.3s ease-in-out;
}

.navbar-button-wrapper.show {
  margin-right: 5em;
}

.navbar-button-wrapper:hover {
  font-size: 0.95em;
}

.navbar-button {
  transition: all 0.3s ease;
  color: white !important;
  position: relative;
  margin-left: 2em;
  padding: 5px 40px;
  border: #fff;
  border-style: solid;
  background-color: transparent;
  transition: background-color 0.3s ease, border-style 0.3s ease,
    color 0.3s ease;
}

.navbar-button:hover {
  background-color: #36d5e6d5;
  border-style: none;
}

.hamburger {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  z-index: 1100;
}

@media (max-width: 1024px) {
  .navbar-logo .logo-link {
    margin-left: 0;
    font-size: 2em;
    display: flex;
  }

  .navbar-logo img {
    height: 40px;
    margin-left: 1.2em;
  }

  .navbar {
    justify-content: space-between;
    padding: 10px 20px;
  }

  .navbar-links {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(14, 159, 164, 0.97);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    font-size: 1.2em;
  }

  .navbar-button {
    margin-right: 0em;
    transition: none;
  }

  .navbar-links.open {
    transform: translateX(0);
  }

  .hamburger {
    display: block;
    align-items: center;
    font-size: 1.3em;
    color: white;
    cursor: pointer;
    z-index: 1101;
    margin-right: 2em;
    line-height: 1;
  }

  .navbar-button-wrapper {
    margin-right: 5em;
  }

  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }
}
