.contact-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  margin: 7em auto;
  margin-bottom: 2em;
  box-sizing: border-box;
}

.contact-page-wrapper h1 {
  text-align: center;
  font-weight: 500;
}

.image-form-container {
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 8px 25px rgb(0, 0, 0);
}

.contact-form-overlay {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow-y: auto;
}

@media (max-width: 600px) {
  .contact-page-wrapper {
    padding: 24px 0px;
    margin: 6.5em auto 2em;
    width: 100%;
  }

  .image-form-container {
    width: 100%;
    max-width: 100%;
  }

  .contact-form-overlay {
    padding: 0px;
    width: 100%;
    max-width: 100%;
  }

  .contact-form {
    width: 100%;
    max-width: 100%;
  }

  .contact-form h2 {
    font-size: 2.5em;
  }

  .contact-form-overlay,
  .contact-form,
  .contact-container {
    min-width: 0;
  }

  .contact-form input,
  .contact-form textarea,
  .contact-form select {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
}
